* {
  all: unset;
  font-family: "monospace", "Symbols Nerd Font";
}

window#waybar {
  background: @bg0;
  border-bottom: 1px solid @border0;
  color: @fg1;
}

#workspaces,
#tags {
  background-color: @bg1;
  border: 1px solid @border0;
  margin: 5px 0 5px 0;
  border-radius: 6px;
}

#workspaces button,
#tags button {
  color: @fg0;
  min-width: 18px;
  background: transparent;
  padding: 0 6px;
  border-radius: 4px;
  margin: 1px;
}

#workspaces button:not(:last-child),
#tags button:not(:last-child) {
  margin-right: 3px;
}

#tags button.occupied {
  color: @fg1;
}

#workspaces button:hover,
#tags button:hover {
  background-color: @bg2;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
}

#workspaces button.active,
#tags button.focused {
  color: @workspace-active-fg;
  font-weight: 700;
  background-color: @workspace-active-bg;
}

#workspaces button.active.special {
  background: @special-workspace-bg;
  color: @special-workspace-fg;
}

window#waybar.empty #window {
  opacity: 0;
}

#privacy-item,
#tray,
#pulseaudio,
#backlight,
#battery,
#network,
#clock,
#submap,
#window {
  margin: 5px 0;
  background-color: @bg1;
  border: 1px solid @border0;
  padding: 0 10px;
  border-radius: 6px;
}

#pulseaudio,
#backlight,
#battery,
#network,
#clock {
  color: @accent;
}

#pulseaudio:hover,
#clock:hover,
#network:hover {
  background-color: @bg2;
  border: 1px solid @border1;
}

#submap {
  background-color: @battery-warn;
  border: none;
  color: @bg0;
}

#privacy-item {
  color: @red;
}

#network.disconnected,
#pulseaudio.muted {
  color: @fg0;
}

#battery.charging,
#battery.charging.warning,
#battery.charging.critical {
  color: @battery-charge;
}

#battery.warning {
  color: @battery-warn;
}

#battery.critical {
  color: @battery-low;
}

#clock {
  margin-right: 5px;
}

#tray menu {
  padding: 10px;
  border: 1px solid @border0;
  background-color: @bg0;
  border-radius: 6px;
}

#tray menu menuitem {
  padding: 4px 8px;
  border-radius: 4px;
}

#tray menu menuitem:not(last-child) {
  margin-bottom: 1px;
}

#tray menu menuitem:hover {
  background-color: @bg2;
}

tooltip {
  background-color: @bg0;
  color: @fg1;
  border: 1px solid @border0;
  border-radius: 6px;
}

tooltip label {
  padding: 5px;
}
