@define-color bg0     #111118;
@define-color bg1     #1a1b26;
@define-color bg2     #292e42;

@define-color fg0     #a9b1d6;
@define-color fg1     #c0caf5;

@define-color border0 #232533;
@define-color border1 #424b6b;

@define-color accent  #449dab;
@define-color select  #283457;
@define-color red     #f7768e;
@define-color green   #9ece6a;

@define-color battery-low    @red;
@define-color battery-warn   #ff9e64;
@define-color battery-charge #e0af68;

@define-color workspace-active-bg @accent;
@define-color workspace-active-fg @bg1;

@define-color special-workspace-bg @battery-warn;
@define-color special-workspace-fg @bg1;
