@define-color window_bg_color #111118;
@define-color light_bg_color #1a1b26;
@define-color window_border_color #232533;
@define-color accent_bg_color #283457;
@define-color theme_fg_color #c0caf5;
@define-color theme_alt_fg_color #a9b1d6;
@define-color error_bg_color #C34043;
@define-color error_fg_color #DCD7BA;

* {
  all: unset;
  font-family: monospace;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  border-radius: 12px;
  border: 1px solid @window_border_color;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.search-container {
}

.input placeholder {
  color: @theme_alt_fg_color;
}

.input {
  caret-color: @theme_fg_color;
  border-bottom: 1px solid @window_border_color;
  padding: 18px 14px;
  color: @theme_fg_color;
}

.input selection {
  background-color: @accent_bg_color;
}

.list {
  color: @theme_fg_color;
  margin: 0 10px 0 10px;
}

.item-box {
  border-radius: 8px;
  padding: 12px;
}

child:hover .item-box,
child:selected .item-box {
  background: @accent_bg_color;
}

.item-subtext {
  font-size: 12px;
  color: @theme_alt_fg_color;
}

.providerlist .item-subtext {
  font-size: unset;
  color: @theme_alt_fg_color;
}

.item-image,
.item-image-text {
  margin-right: 10px;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid @window_border_color;
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  color: @theme_alt_fg_color;
  opacity: 0.5;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  color: @theme_alt_fg_color;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds-wrapper {
  border-top: 1px solid @window_border_color;
  font-size: 12px;
  color: @theme_alt_fg_color;
  padding: 0 12px 12px 0;
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}
